<!--本の一覧画面-->


<%= render 'devise/shared/left', {user: @user, book: @book} %>

<div>
  <%= flash[:notice] %>
</div>


<div class ="col-md-8 offset-md-1">

  <h1>Books</h1>
<table class="table table-striped">
    <tr>
      <th></th>
      <th>title</th>
      <th>opinion</th>
    </tr>

  <tbody>
    <tr>
      <% @books.each do |books| %>
        <td><%= link_to user_path(books.user) do %>
        <%= image_tag books.user.get_profile_image(100,100) %></td>
        <% end %>
        <td><%= link_to books.title, book_path(books.id) %></td>
        <td><%= books.body %></td>
    </tr>
  </tbody>
      <% end %>
</table>

</div>
