<!--投稿詳細-->
<%= render 'devise/shared/left', {user: @user, book: @book} %>

<h3>Book detail</h3>

  <% @books.each do |books| %>
  <div>
    <%= image_tag books.user.get_profile_image(100,100) %>
    <%= books.title %>
    <%= books.body %>
    <%= link_to "Edit", edit_book_path %>
    <%= link_to "Destroy", book_path(@book_detail), method: :delete, "data-confirm" => "本当に消しますか？" %>
    </div>
  <% end %>