<!DOCTYPE html>
<html>
  <script src="https://kit.fontawesome.com/0393e2e04e.js" crossorigin="anonymous"></script>

  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body>
  <header>

  <nav class="navbar navber-expand-lg navbar-dark bg-dark">
<div class = "container">
  <span>
    <h3 class ="navbar-brand"><%= link_to "Bookers", root_path, class: "nav-link text-light" %></h3>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class ="navbar-collapse collapse" id="navbarNavDropdown">
    <ul class = "navbar-nav ml-auto">
<% if user_signed_in? %>

    <li class="nav-list-item">
      
      <li class="nav1" aria-hidden="true"><%= link_to "Home", user_path(current_user.id), class: "fas fa-home nav-link text-light" %></li>
      <li class="nav2" aria-hidden="true"><%= link_to "User", users_path, class: "fa-solid fa-users nav-link text-light" %></li>
      <li class="nav3" aria-hidden="true"><%= link_to "Books", books_path, class: "fa-solid fa-book-open nav-link text-light" %></li>
      <li class="nav4" aria-hidden="true"><%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket nav-link text-light" %></li>

    </li>
<% else %>
    <li class="nav-list-item">
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <%= link_to "Home", root_path, class: "nav-link text-light" %>
      <i class="fa-solid fa-link" style="color: #ffffff;"></i>
      <%= link_to "About", about_path, class: "nav-link text-light" %>
      <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
      <%= link_to "Sign-up", new_user_registration_path, class: "nav-link text-light" %>
      <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>
      <%= link_to "Log-in", new_user_session_path, class: "nav-link text-light" %>
    </li>
    </ul>
  </ul>

  </div>
  </div>
</nav>
    </div>
    <% end %>
      </div>
    
  </header>
  

    <main>
      <div class = "container px-5 px-sm-0">
        <div class ="row">
    <%= yield %>
        </div>
      </div>
    </main>
</body>

  
  <footer>
    <div class="text-center">
    <a>CopyRight Infratop.inc</a>
  </div>
  </footer>
  
</html>
